<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" packages="com.example.localproject">
	<appenders>
		<Console name="console">
			<PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l >>> %m %n" />
		</Console>
		<RollingFile name="file" fileName="exp/exp.log" filePattern="exp/%d{yyyy}-exp-%i.zip" append="false">
			<PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l >>> %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="1024 MB"/>
				<!-- 	      		<SizeBasedTriggeringPolicy size="1k"/> -->
			</Policies>
			<DefaultRolloverStrategy max="3">
				<!-- 	        	<Delete basePath="exp/" maxDepth="1"> -->
				<!-- 	                     <IfFileName glob="*.zip" /> -->
				<!-- 	                     <IfLastModified age="7d" /> -->
				<!-- 	            </Delete> -->
			</DefaultRolloverStrategy>
		</RollingFile>


		<!--（error单独输出）-->
<!--		<ErrorLog2ELKAppender name="error-2-elk" kafka="xxxx" topic="EXP_PDA_ERROR_LOG">-->
<!--			<PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l >>> %m%n" />-->
<!--			<Filters>-->
<!--				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>&lt;!&ndash;（只接收error单独输出）&ndash;&gt;-->
<!--				&lt;!&ndash;<MyFilter level="error" onMatch="ACCEPT"/>&ndash;&gt;-->
<!--			</Filters>-->
<!--		</ErrorLog2ELKAppender>-->

		<!--（error单独输出）-->
        <RollingFile name="error-file" fileName="exp/error.log" filePattern="exp/%d{yyyy}-error-%i.zip" append="false">
            <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l >>> %m%n" />
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/><!--（只接收error单独输出）-->
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="1024 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1">
            </DefaultRolloverStrategy>
        </RollingFile>


		<RollingFile name="appinfo-file" fileName="exp/appinfo/appinfo.log" filePattern="exp/appinfo/$${date:yyyy-MM-dd}/appinfo-%d-%i.zip" append="false">
			<PatternLayout pattern="%d [%t] %-5p > %m %n" />
			<Policies>
				<!-- 				每天换文件到日期目录 -->
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<!-- 	        	到文件大小后 移动到 filePattern指定目录 -->
				<SizeBasedTriggeringPolicy size="1024 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="1">
				<!-- 	        	<Delete basePath="exp/appinfo/" maxDepth="1"> -->
				<!-- 	                     <IfFileName glob="*.zip" /> -->
				<!-- 	                     <IfLastModified age="7d" /> -->
				<!-- 	            </Delete> -->
			</DefaultRolloverStrategy>
		</RollingFile>

	</appenders>

	<loggers>
		<!--additivity="true"  若是additivity设为true，则子Logger不止会在自己的appender里输出，还会在root的logger的appender里输出 -->
		<logger name="error" level="info" additivity="true">
			<appender-ref ref="console" />
			<appender-ref ref="error-file" />
		</logger>

		<logger name="appinfo" level="info" additivity="true">
			<appender-ref ref="console" />
			<appender-ref ref="appinfo-file" />
		</logger>

		<logger name="com.opensymphony" level="info" additivity="false">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</logger>

		<logger name="org.springframework" level="info" additivity="false">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</logger>

		<logger name="org.springframework.jdbc.core" level="info" additivity="false">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</logger>

		<logger name="net.sf.json" level="info" additivity="false">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</logger>

		<logger name="com.ibm.gbs.ai.portal.framework" level="info" additivity="false">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</logger>

		<logger name="com.yto.coresystem" level="info" additivity="false">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</logger>

		<root level="info">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
<!--            <appender-ref ref="error-file" />&lt;!&ndash;（只接收error单独输出）&ndash;&gt;-->
<!--            <appender-ref ref="error-2-elk" />&lt;!&ndash;（只接收error单独输出 ELK）&ndash;&gt;-->
		</root>
	</loggers>
</configuration> 
